@font-face {
    font-family: 'Segoe-Pro';
    src: url('fonts/segoe.eot');
    src: url('fonts/segoe.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoe.woff') format('woff'),
         url('fonts/segoe.ttf') format('truetype'),
         url('fonts/segoe.svg#segoe') format('svg');
    font-weight: normal;
    font-style: normal;
}
